@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Olá <br> Bem vindo</h1>
    <p>Conheça ,<a href="https://docs.microsoft.com/aspnet/core">construindo aplicativos web com ASP.NET Core</a>.</p>
</div>
